## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Weather,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,"San Jose,Bo",-17.9389,-63.3516,overcast clouds,75.00,50,97,10.85,BO,2021-09-20 07:49:31
1,1,"El Carmen,Co",8.5106,-73.4478,overcast clouds,65.14,97,100,3.58,CO,2021-09-20 07:49:33
2,2,"Sarangani,Ph",5.4033,125.4636,broken clouds,82.35,70,81,3.38,PH,2021-09-20 07:49:34
3,3,"Punta Arenas,Cl",-53.1500,-70.9167,clear sky,35.71,87,0,6.91,CL,2021-09-20 07:49:35
4,4,"Mar Del Plata,Ar",-38.0023,-57.5575,overcast clouds,55.42,100,90,4.61,AR,2021-09-20 07:49:10

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 67

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Weather,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,"El Carmen,Co",8.5106,-73.4478,overcast clouds,65.14,97,100,3.58,CO,2021-09-20 07:49:33
3,3,"Punta Arenas,Cl",-53.1500,-70.9167,clear sky,35.71,87,0,6.91,CL,2021-09-20 07:49:35
4,4,"Mar Del Plata,Ar",-38.0023,-57.5575,overcast clouds,55.42,100,90,4.61,AR,2021-09-20 07:49:10
6,6,"Nikolskoye,Ru",59.7035,30.7861,overcast clouds,43.02,62,100,11.39,RU,2021-09-20 07:49:40
8,8,"Albany,Au",-35.0169,117.8917,overcast clouds,61.23,59,90,11.50,AU,2021-09-20 07:49:43
9,9,"Lebu,Cl",-37.6167,-73.6500,clear sky,45.09,87,0,13.82,CL,2021-09-20 07:45:54
15,15,"Zhigansk,Ru",66.7697,123.3711,scattered clouds,40.37,55,28,5.84,RU,2021-09-20 07:49:53
16,16,"Hermanus,Za",-34.4187,19.2345,light rain,53.91,68,100,21.12,ZA,2021-09-20 07:49:54
17,17,"East London,Za",-33.0153,27.9116,broken clouds,61.74,67,75,20.71,ZA,2021-09-20 07:49:56
18,18,"Cape Town,Za",-33.9258,18.4232,broken clouds,56.88,83,75,8.99,ZA,2021-09-20 07:49:57

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df[ (preferred_cities_df["Lat"].isnull()) & (preferred_cities_df["City"]==u'') ].index

Int64Index([], dtype='int64')

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.drop(   (preferred_cities_df[ (preferred_cities_df['Lat'].isnull()) & (preferred_cities_df['City']==u'')].index), axis=0, inplace=False)

In [9]:
clean_df

,City_ID,City,Lat,Lng,Weather,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,"El Carmen,Co",8.5106,-73.4478,overcast clouds,65.14,97,100,3.58,CO,2021-09-20 07:49:33
3,3,"Punta Arenas,Cl",-53.1500,-70.9167,clear sky,35.71,87,0,6.91,CL,2021-09-20 07:49:35
4,4,"Mar Del Plata,Ar",-38.0023,-57.5575,overcast clouds,55.42,100,90,4.61,AR,2021-09-20 07:49:10
6,6,"Nikolskoye,Ru",59.7035,30.7861,overcast clouds,43.02,62,100,11.39,RU,2021-09-20 07:49:40
8,8,"Albany,Au",-35.0169,117.8917,overcast clouds,61.23,59,90,11.50,AU,2021-09-20 07:49:43
...,...,...,...,...,...,...,...,...,...,...,...
630,630,"Kamloops,Ca",50.6665,-120.3192,broken clouds,49.19,93,75,3.44,CA,2021-09-20 08:02:50
637,637,"Suntar,Ru",62.1444,117.6319,scattered clouds,49.06,37,37,5.17,RU,2021-09-20 08:06:15
638,638,"Storforshei,No",66.4043,14.5233,broken clouds,47.98,53,75,16.11,NO,2021-09-20 08:06:16
642,642,"Taksimo,Ru",56.3444,114.8794,clear sky,60.24,56,7,3.56,RU,2021-09-20 08:06:21
644,644,"Port Augusta,Au",-32.5000,137.7667,scattered clouds,56.71,48,46,25.10,AU,2021-09-20 08:06:26

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
1,"El Carmen,Co",CO,65.14,overcast clouds,8.5106,-73.4478,
3,"Punta Arenas,Cl",CL,35.71,clear sky,-53.1500,-70.9167,
4,"Mar Del Plata,Ar",AR,55.42,overcast clouds,-38.0023,-57.5575,
6,"Nikolskoye,Ru",RU,43.02,overcast clouds,59.7035,30.7861,
8,"Albany,Au",AU,61.23,overcast clouds,-35.0169,117.8917,
9,"Lebu,Cl",CL,45.09,clear sky,-37.6167,-73.6500,
15,"Zhigansk,Ru",RU,40.37,scattered clouds,66.7697,123.3711,
16,"Hermanus,Za",ZA,53.91,light rain,-34.4187,19.2345,
17,"East London,Za",ZA,61.74,broken clouds,-33.0153,27.9116,
18,"Cape Town,Za",ZA,56.88,broken clouds,-33.9258,18.4232,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row[["Lat"]]
    long = row[["Lng"]]

    # 6d. Set up the base URL for the Google **PLACES** API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat[0]},{long[0]}"

    # Grab the first hotel from the results and store the name.
    try:
        hotelname = ''
        hotels = requests.get(base_url, params=params).json()
        hotelname = (hotels['results'][0]['name'])
        hotel_df.loc[index, "Hotel Name"] = hotelname
        print(row[['City']], hotelname, index)
        hotels.clear()
    except (IndexError):
        print("Hotel not found... skipping.")
        hotels.clear()
        pass

City    El Carmen,Co
Name: 1, dtype: object Hotel La Casona 1
City    Punta Arenas,Cl
Name: 3, dtype: object Hotel Dreams Del Estrecho 3
City    Mar Del Plata,Ar
Name: 4, dtype: object Gran Hotel Mar del Plata 4
City    Nikolskoye,Ru
Name: 6, dtype: object Tourist House - Sablino 6
City    Albany,Au
Name: 8, dtype: object Dog Rock Motel 8
City    Lebu,Cl
Name: 9, dtype: object Hostal Las Lilas 9
City    Zhigansk,Ru
Name: 15, dtype: object Gostinichnyy Kompleks Aylgy 15
City    Hermanus,Za
Name: 16, dtype: object Misty Waves Boutique Hotel 16
City    East London,Za
Name: 17, dtype: object Tu Casa 17
City    Cape Town,Za
Name: 18, dtype: object Southern Sun Waterfront Cape Town 18
City    Lompoc,Us
Name: 19, dtype: object Holiday Inn Express Lompoc, an IHG Hotel 19
City    Kodiak,Us
Name: 22, dtype: object Best Western Kodiak Inn And Convention Center 22
City    Jamestown,Sh
Name: 23, dtype: object Consulate 23
City    Roald,No
Name: 24, dtype: object Flem Cabins 24
City    Rusne,Lt
Name: 29, dtype: object Pakalnes 45 29
City    Saldanha,Za
Name: 31, dtype: object Blue Bay Lodge 31
City    Bethel,Us
Name: 34, dtype: object Courtyard by Marriott Danbury 34
City    Ancud,Cl
Name: 35, dtype: object Hotel Arena Gruesa 35
City    Busselton,Au
Name: 37, dtype: object Observatory Guest House 37
City    Torbay,Ca
Name: 40, dtype: object Gallows Cove 40
City    Severnyy,Ru
Name: 41, dtype: object Full House North Mini-Hotel 41
City    Raudeberg,No
Name: 42, dtype: object Nordre Silda. 42
City    Luderitz,Na
Name: 43, dtype: object LÜDERITZ NEST HOTEL 43
City    Ahipara,Nz
Name: 44, dtype: object Ahipara Holiday Park 44
City    Castro,Cl
Name: 45, dtype: object Hotel Esmeralda 45
Hotel not found... skipping.
City    Nanortalik,Gl
Name: 49, dtype: object Hotel Kap Farvel 49
City    Haverfordwest,Gb
Name: 50, dtype: object Coastal Cottages of Pembrokeshire 50
City    New Norfolk,Au
Name: 52, dtype: object The Shingles Riverside Cottages 52
City    Bluff,Nz
Name: 54, dtype: object Bluff Homestead - Guesthouse & Campervan Park 54
City    Svetlogorsk,Ru
Name: 58, dtype: object Lumier hotel & spa 58
City    Tuktoyaktuk,Ca
Name: 63, dtype: object End of The Road Ltd. 63
City    Hobart,Au
Name: 67, dtype: object Mantra on Collins Hobart 67
City    Naryan-Mar,Ru
Name: 72, dtype: object Hostel Agat 72
City    Ereymentau,Kz
Name: 74, dtype: object Gostinitsa "Dostyk" 74
City    Port Alfred,Za
Name: 76, dtype: object The Halyards Hotel 76
City    Dingle,Ie
Name: 80, dtype: object Dingle Benners Hotel 80
City    Rio Gallegos,Ar
Name: 82, dtype: object Hotel Santa Cruz 82
Hotel not found... skipping.
City    Brae,Gb
Name: 84, dtype: object Busta House Hotel 84
Hotel not found... skipping.
City    Palmer,Us
Name: 89, dtype: object Wedgewood Motel 89
City    Ust-Nera,Ru
Name: 94, dtype: object Hotel Ust-Nera 94
City    Senneterre,Ca
Name: 98, dtype: object Motel Senabi 98
City    Bekovo,Ru
Name: 99, dtype: object Plyazh 99
City    Kaitangata,Nz
Name: 107, dtype: object Kaitangata Motor Camp 107
City    College,Us
Name: 110, dtype: object Pike's Waterfront Lodge 110
Hotel not found... skipping.
City    Severnoye,Ru
Name: 113, dtype: object Gostinitsa Severyanka 113
City    Kandalaksha,Ru
Name: 114, dtype: object Motel Gora Krestovaya 114
City    Imperia,It
Name: 120, dtype: object La Stregatta 120
City    Pacific Grove,Us
Name: 121, dtype: object Lovers Point Inn 121
City    Laguna De Duero,Es
Name: 122, dtype: object Hotel Topacio 122
City    Bredasdorp,Za
Name: 123, dtype: object Bredasdorp Country Manor 123
City    Port Elizabeth,Za
Name: 126, dtype: object 39 On Nile Guest House 126
City    Qaqortoq,Gl
Name: 127, dtype: object Hotel Qaqortoq 127
City    Sfantu Gheorghe,Ro
Name: 128, dtype: object Hotel Park 128
City    Ushuaia,Ar
Name: 130, dtype: object Albatros Hotel 130
Hotel not found... skipping.
Hotel not found... skipping.
City    Necochea,Ar
Name: 140, dtype: object dyd -mar Hotel 140
City    Longyearbyen,Sj
Name: 141, dtype: object Radisson Blu Polar Hotel, Spitsbergen 141
City    Sistranda,No
Name: 142, dtype: object Hotell Frøya 142
Hotel not found... skipping.
City    Atbasar,Kz
Name: 144, dtype: object Гостиничный Комплекс Saad 144
City    Severo-Kurilsk,Ru
Name: 146, dtype: object Kak Doma 146
City    Kazachinskoye,Ru
Name: 147, dtype: object Gostinitsa "Tk Telemaks" 147
City    Gubkinskiy,Ru
Name: 152, dtype: object MonarcH 152
City    West Wendover,Us
Name: 157, dtype: object Motel 6 Wendover, UT 157
City    Astoria,Us
Name: 160, dtype: object Best Western Astoria Bayfront Hotel 160
City    Honningsvag,No
Name: 163, dtype: object Nordkapp Vandrerhjem 163
City    Sitka,Us
Name: 165, dtype: object Westmark Sitka 165
City    Chuy,Uy
Name: 166, dtype: object Nuevo Hotel Plaza 166
City    Igarka,Ru
Name: 170, dtype: object Zapolyar'ye, Gostinitsa 170
City    Peniche,Pt
Name: 175, dtype: object Hotel Star inn Peniche 175
City    Vestmannaeyjar,Is
Name: 182, dtype: object Glamping & Camping 182
City    Southbridge,Nz
Name: 185, dtype: object Southbridge Hotel 185
City    Fairbanks,Us
Name: 188, dtype: object Westmark Fairbanks Hotel & Conference Center 188
Hotel not found... skipping.
City    Krasnoselkup,Ru
Name: 190, dtype: object Krasnosel'kupnefteprodukt 190
City    Olga,Ru
Name: 191, dtype: object Gostinitsa Rosmorport. 191
City    Coquimbo,Cl
Name: 192, dtype: object Punto de encuentro 192
City    Muros,Es
Name: 195, dtype: object Apartment Av. Castelao 195
City    Havre-Saint-Pierre,Ca
Name: 200, dtype: object Auberge Niapiskau 200
City    Yelizovo,Ru
Name: 202, dtype: object Kamchatskiy Stil' Hostel 202
City    Gornyak,Ru
Name: 204, dtype: object Komfort 204
City    Dunedin,Nz
Name: 206, dtype: object Scenic Hotel Southern Cross 206
City    Cidreira,Br
Name: 207, dtype: object Hotel Castelo 207
City    Hay River,Ca
Name: 213, dtype: object Ptarmigan Inn 213
City    Rocha,Uy
Name: 214, dtype: object Beleza Pura B&B 214
City    Imeni Poliny Osipenko,Ru
Name: 215, dtype: object Yubileynaya 215
City    Saint-Pierre,Pm
Name: 217, dtype: object Pension B&B Dodeman 217
City    Yellowknife,Ca
Name: 220, dtype: object The Explorer Hotel 220
City    Kirovsk,Ru
Name: 222, dtype: object Khibiny Hotel 222
City    Matagami,Ca
Name: 223, dtype: object Hôtel Matagami 223
City    Livani,Lv
Name: 228, dtype: object Gamma Hotel 228
City    Ucluelet,Ca
Name: 232, dtype: object Black Rock Oceanfront Resort 232
City    Tuatapere,Nz
Name: 236, dtype: object Ron and Tony's Bed & Breakfast 236
City    Kobelyaky,Ua
Name: 239, dtype: object Жильё посуточно Кобеляки 239
City    Ust-Ilimsk,Ru
Name: 240, dtype: object AleNat Center 240
City    Turukhansk,Ru
Name: 242, dtype: object ООО "Туруханская пушнина" 242
Hotel not found... skipping.
City    Bay Roberts,Ca
Name: 248, dtype: object Stonewall Inn 248
Hotel not found... skipping.
City    Huarmey,Pe
Name: 250, dtype: object Hotel Miramar 250
Hotel not found... skipping.
City    Amazar,Ru
Name: 253, dtype: object Гостиничный Комплекс Уют 253
City    Palana,Ru
Name: 257, dtype: object Chikago 257
City    Wexford,Ie
Name: 258, dtype: object Talbot Hotel Wexford 258
City    La Sarre,Ca
Name: 261, dtype: object Motel Villa Mon Repos 261
City    Hofn,Is
Name: 264, dtype: object Hótel Höfn 264
City    Klaksvik,Fo
Name: 267, dtype: object Airbnb rooms 267
City    Magdagachi,Ru
Name: 270, dtype: object Motopolyana Magdagachi 270
City    Talcahuano,Cl
Name: 271, dtype: object departamento comodo 271
City    Kiama,Au
Name: 274, dtype: object The Sebel Kiama Harbourside 274
City    Henties Bay,Na
Name: 276, dtype: object Fishermans Guest House 276
City    Zaysan,Kz
Name: 277, dtype: object Ерлан үй 277
City    Chornobay,Ua
Name: 278, dtype: object Veselka 278
City    Port Hardy,Ca
Name: 282, dtype: object Airport Inn 282
City    El Alto,Pe
Name: 289, dtype: object Black Marlin Restaurant & Hospedaje 289
City    Constitucion,Mx
Name: 294, dtype: object 18 De Marzo 294
City    Vrangel,Ru
Name: 295, dtype: object Отель "БАЛИ" 295
City    Shaunavon,Ca
Name: 304, dtype: object Bear's Den Lodge 304
City    Dauphin,Ca
Name: 306, dtype: object Canway Inn & Suites 306
City    Trzebnica,Pl
Name: 307, dtype: object Hotel Trzebnica 307
City    Bollnas,Se
Name: 308, dtype: object Grand Hotel 308

City    Namtsy,Ru
Name: 309, dtype: object "Эңсиэли Киин" 309
City    Vardo,No
Name: 311, dtype: object Vardø Hotel AS 311
City    Lakhdenpokhya,Ru
Name: 313, dtype: object Rauhala Place 313
City    Broken Hill,Au
Name: 314, dtype: object Royal Exchange Hotel 314
City    Wasilla,Us
Name: 318, dtype: object Alaska's Select Inn Wasilla 318
Hotel not found... skipping.
Hotel not found... skipping.
City    Mount Gambier,Au
Name: 326, dtype: object The Commodore 326
City    Joutseno,Fi
Name: 328, dtype: object Joutseno.BB 328
City    Shelburne,Ca
Name: 329, dtype: object The Retreat at the Farm 329
Hotel not found... skipping.
City    Sept-Iles,Ca
Name: 333, dtype: object Comfort Inn 333
City    Boguchany,Ru
Name: 335, dtype: object Uyut 335
City    Montlucon,Fr
Name: 336, dtype: object Hotel De La Gare 336
City    Lamovita,Ba
Name: 338, dtype: object Hotel BoMar 338
City    Esperance,Au
Name: 340, dtype: object Hospitality Esperance 340
Hotel not found... skipping.
City    Hualmay,Pe
Name: 345, dtype: object Hotel Villa Kitzia Huacho 345
City    Vuktyl,Ru
Name: 348, dtype: object Mini-Hotel Lokomotiv 348
City    Pushkinskiye Gory,Ru
Name: 353, dtype: object The recreation center "Pushkinogorye" 353
City    Flin Flon,Ca
Name: 355, dtype: object Victoria Inn Flin Flon 355
City    Kruisfontein,Za
Name: 358, dtype: object Oyster Bay House Rental 358
Hotel not found... skipping.
City    Nemuro,Jp
Name: 360, dtype: object Hotel Nemuro Kaiyoutei 360
City    Horsham,Au
Name: 362, dtype: object Comfort Inn Capital Horsham 362
City    Te Anau,Nz
Name: 363, dtype: object Kingsgate Hotel Te Anau 363
City    Kenai,Us
Name: 364, dtype: object Aspen Extended Stay Suites 364
City    Fortuna,Us
Name: 369, dtype: object Super 8 by Wyndham Fortuna 369
City    Burley,Us
Name: 375, dtype: object Fairfield Inn & Suites by Marriott Burley 375
Hotel not found... skipping.
City    Kokkola,Fi
Name: 378, dtype: object Hotel Kokkola 378
City    Kataysk,Ru
Name: 379, dtype: object Prival 379
City    Ludvika,Se
Name: 380, dtype: object Ludvika Stadshotell 380
City    Liuhe,Cn
Name: 382, dtype: object Grain Hostel 382
City    Pisco,Pe
Name: 384, dtype: object Hotel San Isidro Oficial 384
City    Kaeo,Nz
Name: 385, dtype: object Bushido Lodge 385
City    Alta,No
Name: 386, dtype: object Scandic Alta 386
City    Thompson,Ca
Name: 388, dtype: object Burntwood Hotel 388
City    San Quintin,Mx
Name: 389, dtype: object Don Eddie's Sport Fishing Center 389
City    Waitati,Nz
Name: 392, dtype: object Arden Country House BnB Dunedin 392
City    Sid,Rs
Name: 393, dtype: object Accommodation Čubura 393
City    Oxbow,Ca
Name: 394, dtype: object Bow Manor Motor Hotel 394
City    Ust-Ishim,Ru
Name: 396, dtype: object Velichko T.p., Gostinitsa 396
City    Fort Nelson,Ca
Name: 397, dtype: object The Fort Nelson Hotel 397
City    Rio Frio,Mx
Name: 398, dtype: object Rancho el guarda 398
City    Sturgeon Falls,Ca
Name: 405, dtype: object Lincoln Motel 405
City    Tamworth,Au
Name: 408, dtype: object Colonial Inn Motel 408
City    Prieska,Za
Name: 415, dtype: object Avenue GuestHouse 415
City    Chekmagush,Ru
Name: 417, dtype: object Perekrestok 417
Hotel not found... skipping.
City    Berlevag,No
Name: 426, dtype: object Kvitbrakka 426
City    Mehamn,No
Name: 427, dtype: object Mehamn Arctic Hotel AS 427
City    Calama,Cl
Name: 428, dtype: object Diego De Almagro Calama 428
City    Portland,Au
Name: 431, dtype: object Portland Holiday Village 431
City    Gravdal,No
Name: 437, dtype: object Skreda Rorbusuiter 437
City    Noyabrsk,Ru
Name: 442, dtype: object Hotel Uyutnaya 442
City    Ballarat,Au
Name: 446, dtype: object Quest Ballarat 446
City    Baker City,Us
Name: 448, dtype: object Bridge Street Inn 448
City    Mollendo,Pe
Name: 450, dtype: object Hostal La Casa de Melgar 450
City    Melsungen,De
Name: 453, dtype: object ibis Kassel Melsungen 453
City    Coihaique,Cl
Name: 454, dtype: object Diego De Almagro Coyhaique 454
Hotel not found... skipping.
City    Ayagoz,Kz
Name: 460, dtype: object Gostinitsa Nur 460
Hotel not found... skipping.
City    Waiuku,Nz
Name: 468, dtype: object Waiuku Lodge Motel 468
City    Monte Patria,Cl
Name: 470, dtype: object Hotel Monte Cordillera 470
City    Traralgon,Au
Name: 471, dtype: object Comfort Inn Traralgon 471
City    Salta,Ar
Name: 476, dtype: object Hotel Alejandro I 476
City    Bakchar,Ru
Name: 480, dtype: object Kristina 480
City    Prince Rupert,Ca
Name: 481, dtype: object Crest Hotel 481
City    Talara,Pe
Name: 482, dtype: object Hostal Oro Negro 482
City    North Bend,Us
Name: 486, dtype: object Red Lion Hotel Coos Bay 486
City    Port Lincoln,Au
Name: 487, dtype: object Port Lincoln Hotel 487
City    Husavik,Is
Name: 488, dtype: object Bjarnabúð 488
City    Olafsvik,Is
Name: 491, dtype: object Hotel Olafsvik 491
City    Skjervoy,No
Name: 498, dtype: object Skjervøy Byggeservice AS 498
City    Astana,Kz
Name: 502, dtype: object King Hotel Astana 502
City    Auray,Fr
Name: 506, dtype: object Best Western Auray hotel du Loch 506
City    Ust-Tsilma,Ru
Name: 507, dtype: object U Praskov'i 507
City    Diego De Almagro,Cl
Name: 508, dtype: object hotel luna del desierto 508
City    Taltal,Cl
Name: 510, dtype: object Residencial Karime 510
City    Tashtyp,Ru
Name: 511, dtype: object Oblachnyye Glubiny Orden Gusu Lan' 511
City    Hovd,Mn
Name: 514, dtype: object Hotel Khovd 514
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
City    Christchurch,Nz
Name: 523, dtype: object The George 523
City    Rorvik,No
Name: 524, dtype: object Kysthotellet Rørvik AS 524
City    Halkirk,Gb
Name: 525, dtype: object Ulbster Arms Hotel Ltd 525
Hotel not found... skipping.
City    Westport,Nz
Name: 531, dtype: object Westport Motels 531
City    Cap-Aux-Meules,Ca
Name: 532, dtype: object Auberge Madeli 532
Hotel not found... skipping.
City    Robertson,Za
Name: 535, dtype: object De Oude Opstal B&B 535
City    Homer,Us
Name: 536, dtype: object Beluga Lake Lodge 536
City    Macedo De Cavaleiros,Pt
Name: 538, dtype: object Casa das Argolas 538
City    Half Moon Bay,Us
Name: 542, dtype: object The Ritz-Carlton, Half Moon Bay 542
City    Lakes Entrance,Au
Name: 543, dtype: object The Esplanade Resort & Spa 543
Hotel not found... skipping.
Hotel not found... skipping.
City    Moose Factory,Ca
Name: 553, dtype: object Moosonee Lilypad 553
City    Ketchikan,Us
Name: 556, dtype: object Snow's Cove Lodge 556
Hotel not found... skipping.
City    Lillehammer,No
Name: 558, dtype: object Scandic Lillehammer Hotel 558
City    Plettenberg Bay,Za
Name: 559, dtype: object Thanda Vista B&B 559
Hotel not found... skipping.
City    Verkhnevilyuysk,Ru
Name: 563, dtype: object Gostinitsa Mila 563
City    Aklavik,Ca
Name: 570, dtype: object Aklavik Inn 570
City    Sorland,No
Name: 574, dtype: object Sjybrygga fiskecamp 574
City    San Juan,Ar
Name: 575, dtype: object Hotel Provincial 575
City    Weiser,Us
Name: 583, dtype: object The Colonial Motel 583
Hotel not found... skipping.
City    Wangqing,Cn
Name: 588, dtype: object Jianan Fashion Hotel 588
City    Camana,Pe
Name: 590, dtype: object Hostal Morales 590
Hotel not found... skipping.
City    Kautokeino,No
Name: 594, dtype: object Thon Hotel Kautokeino 594
City    Flinders,Au
Name: 595, dtype: object Shellharbour Resort & Conference Centre 595
City    Stykkisholmur,Is
Name: 598, dtype: object Fosshótel Stykkishólmur 598
City    Tura,Ru
Name: 605, dtype: object Gostinitsa Sever 605
City    Inuvik,Ca
Name: 607, dtype: object Nova Inn Inuvik 607
City    Ranfurly,Nz
Name: 612, dtype: object Ranfurly Holiday Park Motels & Cabins 612
City    Port-Cartier,Ca
Name: 618, dtype: object Le Q'Artier 618
City    Khuzhir,Ru
Name: 620, dtype: object Отель на озере Байкал Baikal View 620
City    Yar,Ru
Name: 621, dtype: object Комнаты отдыха на ж/д вокзале 621
City    Carman,Ca
Name: 625, dtype: object Bell Aura Bed, Breakfast & Bistro 625
Hotel not found... skipping.
City    Kamloops,Ca
Name: 630, dtype: object Ramada by Wyndham Kamloops 630
City    Suntar,Ru
Name: 637, dtype: object Гостевая квартира 637
City    Storforshei,No
Name: 638, dtype: object Skogly overnatting (Stengt/closed) 638

City    Taksimo,Ru
Name: 642, dtype: object Gostinitsa "Viktoriya" 642
City    Port Augusta,Au
Name: 644, dtype: object Majestic Oasis Apartments 644

In [12]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.drop((hotel_df[(hotel_df['Hotel Name']=='')].index), axis=0, inplace=False)

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
max_temp = clean_hotel_df["Max Temp"]
# 11a. Add a marker layer for each city to the map. 
#marker_layer = gmaps.marker_layer(locations)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))